@media screen and (min-width: 600px) {

    // HEADER //

    .ms_empty-box {
        border-bottom: 1px solid black !important;
    }

    .ms_empty-box-disappear {
        display: inline-block !important;
    }

    .ms_header-btns {
        display: none !important;
    }

    .ms_header-nav {
        display: flex !important;
    }

    div.ms_header-icons {
        height: 50px;

        div.ms_header-icon {
            width: 50px;
        }
    }

    // MAIN //

    // filters' bar -->

    section.ms_first-section {
        flex-direction: row !important;
        justify-content: space-between;
    }

    div.ms_filter-btns ul li {
        margin-top: 0;
        margin-right: 12px;
    }

    // line 2 

    div.ms_line-2-square-mquery {
        padding: 0;
        margin: 0 !important;
        height: 650px;
    }

    div.ms_line-2-square {
        position: relative;
        height: 100%;

        div.ms_line-2-absolute-text {
            position: absolute;
            left: 25px;
            top: 400px;
            color: white;
        }

        div.ms_line-2-square-img {
            height: 100%;

            img {
                filter: grayscale(50%);
                height: 100%;
            }
        }
    }

    .ms_line-2-top-square {
        height: 55%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            filter: grayscale(50%);
            object-fit: cover;
            display: inline-block !important;

        }

        .ms_smaller-paragraph {
            margin-top: 100px;
            position: absolute;
            left: 25px;
            top: 10px;
            color: white;

            h5 {
                font-size: 1.2rem;
                width: 100%;
            }
        }
    }

    .ms_line-2-bottom-square {
        height: 45%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            filter: grayscale(50%);
            object-fit: cover;
            display: inline-block !important;

        }

        .ms_smaller-paragraph {
            margin-top: 50px;
            position: absolute;
            left: 25px;
            top: 50px;
            color: white;

            h5 {
                font-size: 1.2rem;
                width: 100%;
            }
        }
    }

    .ms_mquery-big-screen {
        flex-direction: column;
    }

    .ms_box-author-details span {
        margin: 2px 0 !important;
    }

    .ms_line-2-boxes-mquery {
        padding: 0;
    }

    // line 3 

    .ms_line-3-container {
        border: none;

        div.ms_line-3-text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h5 {
                font-size: 2rem;
            }
        }
    }

    // line 4 
    .ms_smaller-text {
        border: none;
        margin-top: 40px !important;
        margin-left: 10px !important;

        h5 {
            font-size: 1.5rem;
        }
    }

    .ms_square-sizing {
        height: 360px;
        display: flex;
        align-items: center;
    }


    .ms_square-sizing {
        position: relative;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: inline-block !important;
            filter: grayscale(80%);

        }

        .ms_smaller-text {
            position: absolute;
            left: 25px;
            top: 50px;
            color: white;

            h5 {
                font-size: 1.2rem;
                width: 100%;
            }
        }
    }

}